<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Survey Form</h1>
    <form action='/create' method='POST'>
        {% csrf_token %}
        <p><label>Name:</label>
        <input type='text' name='name'></p>
        <p><label>Dojo Location:</label>
        <select name='dojo'>
            <option value='san_jose'>San Jose</option>
            <option value='seattle'>Seattle</option>
            <option value='la'>Los Angeles</option>
            <option value='dallas'>Dallas</option>
            <option value='tysons_corner'>Tysons Corner</option>
            <option value='chicago'>Chicago</option>
            <option value='tulsa'>Tulsa</option>
            <option value='east_bay'>East Bay</option>
        </select></p>
        <p><label>Favorite Language:</label>
        <select name='lang'>
            <option value="python">Python</option>
            <option value="html">HTML</option>
            <option value='css'>CSS</option>
            <option value='sql'>SQL</option>
            <option value='javascript'>Javascript</option>
            <option value='c#'>C#</option>
            <option value='php'>PHP</option>
            <option value='ruby'>Ruby on Rails</option>
            <option value='ios'>iOS</option>
            <option value='java'>Java</option>
        </select></p>
        <label>Comment:</label>
        <textarea name='comment' rows=5 cols=50></textarea>
        <p><input type='submit' value='Submit'></p>
    </form>
</body>
</html>