<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h4>Thank you for submitting this form! you have submitted this form {{request.session.count}} times now.</h4>
    <h2><u>Submitted Information:</u></h2>
    <p><label>Name:</label>{{request.session.name}}</p>
    <p><label>Language:</label>{{request.session.lang}}</p>
    <p><label>Dojo Location:</label>{{request.session.dojo}}</p>
    <p><label>Comment:</label>{{request.session.comment}}</p>
</body>
</html>